
body {
  background-color: #009688;
  font-family: 'Roboto', sans-serif;
  color: #eceff1;
  line-height: 1.5; }

a {
  color: #3f51b5;
  text-decoration: none;
  transition: color 0.15s ease-in; }
  a:hover {
    color: #1a237e; }
  a:active, a:focus {
    color: #009688; }
  a:visited {
    color: #673ab7; }

code {
  font-weight: bold; }

.m-type-display-1 {
  font-size: 4em;
  font-weight: 300;
  margin: 16px 0; }

.m-type-sub-heading-1 {
  font-size: 1.13em;
  font-weight: 400;
  margin: 16px 0; }

.m-type-heading-1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 16px 0; }

.m-header {
  position: relative;
  padding: 8.5em 8.5em 4.25em;
  max-width: 40em; }
  .m-header .header_actions {
    margin: 1.25em 0 0; }
  .m-header .header_link {
    margin-right: 1.25em; }

.m-button {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #eceff1;
  overflow: hidden;
  transition: background-color 0.15s ease-in; }
  .m-button .txt {
    color: #eceff1;
    transition: color 0.15s ease-in; }
  .m-button:hover {
    background-color: #eceff1; }
    .m-button:hover .ico {
      fill: #009688; }
    .m-button:hover .txt {
      color: #009688; }

.m-page {
  background-color: #eceff1;
  color: #263238; }

.m-segment {
  padding: 2.25em 8.5em;
  border-bottom: 1px solid #cfd8dc; }
  .m-segment .segment_content {
    max-width: 40em; }
  .m-segment .segment_description {
    margin: 16px 0; }

.m-aside-segment {
  display: none;
  padding: 2.25em;
  border-bottom: 1px solid #f8bbd0; }
  .m-aside-segment .segment_description {
    margin: 16px 0; }

.m-landing-layout .m-type-sub-heading-1 {
  color: #b2dfdb; }

.m-detail-layout {
  padding-left: 20%; }
  .m-detail-layout .m-aside {
    position: absolute;
    left: 0;
    width: 20%; }
    .m-detail-layout .m-aside .aside_title {
      margin: 16px;
      font-weight: normal;
      position: fixed; }
    .m-detail-layout .m-aside .m-button {
      display: block; }

.m-right-panel .m-header,
.m-right-panel .m-segment .segment_content {
  max-width: 43em; }
.m-right-panel .right-panel_top {
  border-bottom: 1px solid #cfd8dc; }

.m-breadcrumb .breadcrumb_link {
  position: relative;
  top: -2px;
  font-size: 0.75em; }
.m-breadcrumb .m-type-display-1 {
  margin-top: 0; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInLate {
  0% {
    opacity: 0; }

  85% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeInLate {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes moveToTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%); }

  80% {
    -webkit-transform: translateY(10%); }

  85% {
    -webkit-transform: translateY(5%); }

  90% {
    -webkit-transform: translateY(4%); }

  95% {
    -webkit-transform: translateY(1%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(100%); }

  80% {
    transform: translateY(10%); }

  85% {
    transform: translateY(5%); }

  90% {
    transform: translateY(4%); }

  95% {
    transform: translateY(1%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }

@-webkit-keyframes moveToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }

  80% {
    -webkit-transform: translateX(10%); }

  85% {
    -webkit-transform: translateX(5%); }

  90% {
    -webkit-transform: translateX(4%); }

  95% {
    -webkit-transform: translateX(1%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%); }

  80% {
    transform: translateX(10%); }

  85% {
    transform: translateX(5%); }

  90% {
    transform: translateX(4%); }

  95% {
    transform: translateX(1%); }

  100% {
    opacity: 1;
    transform: translateX(0%); } }
.m-landing-layout .m-header {
  -webkit-animation: fadeIn 0.4s ease-in;
  animation: fadeIn 0.4s ease-in; }
.m-landing-layout .m-page {
  -webkit-animation: moveToTop 0.4s ease-in;
  animation: moveToTop 0.4s ease-in; }

.is-unloading .m-landing-layout .m-header {
  -webkit-animation: fadeIn 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: fadeIn 0.4s ease-in;
  animation-direction: reverse; }
.is-unloading .m-landing-layout .m-page {
  -webkit-animation: moveToTop 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: moveToTop 0.4s ease-in;
  animation-direction: reverse; }

.m-detail-layout .m-right-panel {
  -webkit-animation: moveToLeft 0.4s ease-in;
  animation: moveToLeft 0.4s ease-in; }
.m-detail-layout .m-aside {
  -webkit-animation: fadeInLate 0.4s ease-in;
  animation: fadeInLate 0.4s ease-in; }

.is-unloading .m-detail-layout .m-right-panel {
  -webkit-animation: moveToLeft 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: moveToLeft 0.4s ease-in;
  animation-direction: reverse; }
.is-unloading .m-detail-layout .m-aside {
  -webkit-animation: fadeInLate 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: fadeInLate 0.4s ease-in;
  animation-direction: reverse; }
