<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About - My Site</title>
        <script src="../../node_modules/jquery/dist/jquery.js"></script>
        <script src="../../src/jquery.smoothState.js"></script>
    </head>
    <body>
        <div id="main">
            <ul>
                <li><a id="page-home" href="home.html">Home</a></li>
                <li><a id="page-about" href="about.html">About <strong>[current page]</strong></a></li>
            </ul>
            <hr/>
            <h1 id="page-title">About</h1>
            <p id="hash" style="margin-top:500px;"><strong>#hash is down here.</strong></p>
        </div>
    </body>
</html>
