/* @mixin respond-to
------------------------------------------------------------------- */
/* line 8, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-landing-layout .m-header {
  -webkit-animation: fadeIn 0.4s ease-in;
  animation: fadeIn 0.4s ease-in; }
/* line 12, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-landing-layout .m-page {
  -webkit-animation: moveToTop 0.4s ease-in;
  animation: moveToTop 0.4s ease-in; }

/* line 19, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.is-unloading .m-landing-layout .m-header {
  -webkit-animation: fadeIn 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: fadeIn 0.4s ease-in;
  animation-direction: reverse; }
/* line 25, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.is-unloading .m-landing-layout .m-page {
  -webkit-animation: moveToTop 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: moveToTop 0.4s ease-in;
  animation-direction: reverse; }

/* line 38, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-detail-layout .m-right-panel {
  -webkit-animation: moveToTop 0.4s ease-in;
  animation: moveToTop 0.4s ease-in; }
/* line 42, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-detail-layout .m-aside {
  -webkit-animation: fadeInLate 0.4s ease-in;
  animation: fadeInLate 0.4s ease-in; }

/* line 49, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.is-unloading .m-detail-layout .m-right-panel {
  -webkit-animation: moveToTop 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: moveToTop 0.4s ease-in;
  animation-direction: reverse; }
/* line 56, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.is-unloading .m-detail-layout .m-aside {
  -webkit-animation: fadeInLate 0.4s ease-in;
  -webkit-animation-direction: reverse;
  animation: fadeInLate 0.4s ease-in;
  animation-direction: reverse; }

@media screen and (min-width: 768px) {
  /* line 67, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
  .m-detail-layout .m-right-panel {
    -webkit-animation: moveToLeft 0.4s ease-in;
    animation: moveToLeft 0.4s ease-in; }
  /* line 71, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
  .m-detail-layout .m-aside {
    -webkit-animation: fadeInLate 0.4s ease-in;
    animation: fadeInLate 0.4s ease-in; }

  /* line 78, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
  .is-unloading .m-detail-layout .m-right-panel {
    -webkit-animation: moveToLeft 0.4s ease-in;
    -webkit-animation-direction: reverse;
    animation: moveToLeft 0.4s ease-in;
    animation-direction: reverse; }
  /* line 85, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
  .is-unloading .m-detail-layout .m-aside {
    -webkit-animation: fadeInLate 0.4s ease-in;
    -webkit-animation-direction: reverse;
    animation: fadeInLate 0.4s ease-in;
    animation-direction: reverse; } }
